
<div class="ui pointing menu">
  <a class="item" [routerLink]="['home']" [routerLinkActive]="['active']">
    Home
  </a>
  <a *ngIf="!authService.isLoggedIn()" class="item" [routerLink]="['login']" [routerLinkActive]="['active']">
    Login
  </a>
  <a *ngIf="!authService.isLoggedIn()" class="item" [routerLink]="['register']" [routerLinkActive]="['active']">
    Register
  </a>
  <a *ngIf="authService.isLoggedIn()" class="item" [routerLink]="['account']" [routerLinkActive]="['active']">
    Account
  </a>
  <a *ngIf="authService.isLoggedIn()" class="item"  (click)="logout()">
    Logout
  </a>




</div>

<router-outlet></router-outlet>
